/*CSS by Shelbie Vilag*/

body{
    font-family: "Merriweather", sans-serif;
    background-color: #D5DFE9;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:visited{
    color: yellow;
}

nav ul li a:hover{
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px;
}

header{
    background-color: #08427F;
}

h1{
    background-color: #08427F;
    font-size: 32px;
    padding: 10px;
    color: white;
}

nav{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    color: rgb(255, 255, 255);
}

nav ul li{
    border: 2px solid #08427F;
    border-radius: 8px;
    display: inline-block;
    padding: 10px;
}

main{
    padding: 10px;
}

p{
    padding-top: 10px;
}

h2{
    font-size: 26px;
    background-color: #08427F;
    border-radius: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
}

.subheading{
    font-size: 20px;
    color: #08427F;
}

#authors{
    margin-left: 10px;
    margin-top: 5px;
}

.content{
    margin-left: 10px;
    padding-bottom: 10px;
    line-height: 2;
    text-align: justify;
    margin-right: 20%;
}

.content span{
    font-weight: 700;
}

.content a{
    color: #08427F;
}

#references{
    margin-top: 10px;
}

#sources{
    margin-left: 30px;
    line-height: 2;
}

#sources a{
    color: #08427F;
}

#totop{
    position: fixed;
    right: 5%;
    bottom: 6%;
    background-color: rgb(8, 64, 125, .8);
    border-radius: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid white;
}

#totop a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: #08427F;
    color: white;
    padding-bottom: 10px;
    text-align: center;
}
